body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(228, 220, 207);

}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgb(240, 235, 227);
  
}



.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

main {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 20em;
  margin-right: 20em;
}

.profile-pic {
  width: 200px;
  border-radius: 15px;
}

.label {
  text-align: left;
}

footer.footer {
  background-color: rgb(240, 235, 227);
}

.card {
  border-radius: 15px;
}



@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}